:root {
    --text-title-color: #212121; 
    --text-primery-color: #757575; 
    --text-decoration-color: #ffffff;
    --bg-primary-color: #ffffff; 
    --bg-accent-color: #2F303A;
    --accent-color: #2196f3;
    --title-font: "Roboto", sans-serif;
}

body {
    font-family: var(--title-font);
    background-color: var(--bg-primary-color);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

/* header */
.header {

}

.logo-title {
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 1.19;
}

.logo-accept {
    color: var(--accept-color);
}

.logo {
    color: var(--primery-text-color);
}

.contact .link {
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.contact .link:hover,
.contact .link:focus,
.nafigation .current
{
  color: var(--accept-color);
}

/* / header */

/* main */

.hero {

}

.button {
    color: #ffffff;
    background-color: var(--accept-color);
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.visually-hidden {

}

.list-item {

}

.list-item-title {
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.list-item-text {

}

.paragraphs-headlines {

}

.staff {

}

.team-item-name {

}

.team-number-position {

}

/* / main */

/* footer */

.footer {

}

.logo-footer {

}

.link-footer {

}


/* / footer */

/* portfolio */

/* main */
.portfolio-button {

}

.filter-button {

}

.portfolio {

}

.portfolio-div {

}

.portfolio-title {

}

.portfolio-type {

}


/* / main */

/* / portfolio */