:root {
    --text-title-color: #212121; 
    --text-primery-color: #757575; 
    --text-decoration-color: #ffffff;
    --bg-primary-color: #ffffff; 
    --bg-accent-color: #2F303A;
    --accent-color: #2196f3;
    --title-font: "Roboto", sans-serif;
}

body {
    font-family: var(--title-font);
    background-color: var(--bg-primary-color);
}

/* header */
.header {

}

.logo-title {

}

.logo-accept {

}

.logo {

}

.contact {

}

.link {

}

.nafigation {

}

.link {

}

.current {

}

/* / header */

/* main */

.hero {

}

.button {

}

.visually-hidden {

}

.list-item {

}

.list-item-title {

}

.list-item-text {

}

.paragraphs-headlines {

}

.staff {

}

.team-item-name {

}

.team-number-position {

}

/* / main */

/* footer */

.footer {

}

.logo-footer {

}

.link-footer {

}


/* / footer */

/* portfolio */

/* main */
.portfolio-button {
    
}
/* / main */

/* / portfolio */